In [2]:
def add (a,b):
    return a + b

add(5,10)

15

In [3]:
def add (a=5,b=45):
    return a + b

add()

50

# Tuple as an argument 

## * is to catch multiple arugments

In [5]:
def add(*a):
    print(type(a))
    print(a)

add(2)

<class 'tuple'>
(2,)

In [6]:
def add(*a):
    print(type(a))
    print(a)

add(2,3,4,5,7)

<class 'tuple'>
(2, 3, 4, 5, 7)

# pass arugments as tuple and sum it

In [7]:
def add(*a):
    print(type(a))
    print(a)
    sum=0;
    for i in a:
        sum+=i;
    print(sum)

add(2,3,4,5,7)

<class 'tuple'>
(2, 3, 4, 5, 7)
21

In [9]:
def add(a, b, *morevalues):
    print(type(a))
    print(a)
    sum = a + b
    for i in morevalues:
        sum += i
    print(sum)

add(2,3,4,5,7)

<class 'int'>
2
21

In [ ]:
def add(a, b,c,d,e,f, *args):
    print(type(a))
    print(a)
    print("-"*10)
    print(type(b))
    print(b)
    print(type(args))
    print(args)
    sum = 0
    for i in args:
        sum += i
    print(sum)

add(2,3,4,5,5,1,1,1,1,1,1,1,1,5,5,7,7,7,7,7,7,7,7,999,7)

<class 'int'>
2
----------
<class 'int'>
3
<class 'tuple'>
(1, 1, 1, 1, 1, 1, 1, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 999, 7)
1079

In [ ]:
def add(a, b,c,d,e=20,f=25, *args):
    print(type(a))
    print(a)
    print("-"*10)
    print(type(b))
    print(b)
    print(type(args))
    print(args)
    sum = 0
    for i in args:
        sum += i
    print(sum)

add(2,3,4,5,5,1,1,1,1,1,1,1,1,5,5,7,7,7,7,7,7,7,7,999,7)

<class 'int'>
2
----------
<class 'int'>
3
<class 'tuple'>
(1, 1, 1, 1, 1, 1, 1, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 999, 7)
1079

# keyword arguments

In [27]:
def add(a, b,c=3, *args, **kwargs):
    print(type(a))
    print(a)
    print("-"*10)
    print(type(b))
    print(b)
    print(type(args))
    print(args)
    sum = 0
    for i in args:
        sum += i
    
    print(sum)
    print(type(kwargs)) 
    print(kwargs)
    
add(2,3,4,5,5,1,1,1,1,1,1,1,1,5,5,7,7,7,7,7,7,7,7,999,7, val1 =200)

<class 'int'>
2
----------
<class 'int'>
3
<class 'tuple'>
(5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 999, 7)
1090
<class 'dict'>
{'val1': 200}

In [28]:
def add(a, b,c=3, *args, **kwargs):
    print(type(a))
    print(a)
    print("-"*10)
    print(type(b))
    print(b)
    print(type(args))
    print(args)
    sum = 0
    for i in args:
        sum += i
    
    print(sum)
    print(type(kwargs)) 
    print(kwargs)
    
add(2,3,4,5,5,1,1,1,1,1,1,1,1,5,5,7,7,7,7,7,7,7,7,999,7, val1 =200, val2=300)

<class 'int'>
2
----------
<class 'int'>
3
<class 'tuple'>
(5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 999, 7)
1090
<class 'dict'>
{'val1': 200, 'val2': 300}

# *args is a TUPLE
# **kwargs is a DICTIONARY

In [31]:
def add(a, b,c=3, *args, **kwargs):
    print(type(a))
    print(a)
    print("-"*10)
    print(type(b))
    print(b)
    print(type(args))
    print(args)
    sum = 0
    for i in args:
        sum += i
    
    print(sum)
    print(type(kwargs)) 
    print(kwargs)
    
a = {'val1': 200, 'val2': 300}

add(2,3,4,5,5,1,1,1,1,1,1,1,1,5,5,7,7,7,7,7,7,7,7,999,7, **a)

<class 'int'>
2
----------
<class 'int'>
3
<class 'tuple'>
(5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 999, 7)
1090
<class 'dict'>
{'val1': 200, 'val2': 300}

# Example of *args and **kwargs

In [32]:
def order_pizza(a, *args, **kwargs):
    print(a)
    print(args)
    print(kwargs)

order_pizza(20, "Margherita", "Extra Cheese", "Mushrooms", size="Large", crust="Thin")

20
('Margherita', 'Extra Cheese', 'Mushrooms')
{'size': 'Large', 'crust': 'Thin'}

In [42]:
def order_pizza(a, *args, **kwargs):
    print(a)
    print(args)
    print(kwargs)

order_pizza(20, "Margherita", "Extra Cheese", "Mushrooms", size=["Large","Medium"], crust="Thin")

20
('Margherita', 'Extra Cheese', 'Mushrooms')
{'size': ['Large', 'Medium'], 'crust': 'Thin'}